$primary-color: #7e57c2;
$secondary-color: #eee;
$material-icons-font-path: '~material-icons/iconfont/';
$enable-rounded: false;
$transition-duration: 0.4s;
$theme-colors: ("primary": $primary-color);