body,
html {
  font: 13px 'Proxima Nova Rg';
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition-duration;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.dropdown-toggle {
  border: 0 !important;
  display: inline-flex !important;
  padding: 0 !important;
}